<launch>
    <!-- Launch odom.launch in a new terminal window -->
    <node pkg="odom_dvl_imu" name="odom_dvl_imu_node" type="odom_dvl_imu_node" args="$(find odom_dvl_imu)/launch/odom.launch" output="screen" term="xterm"/>

    <!-- Launch cascaded_pid_dp_controller.launch in a new terminal window -->
    <node pkg="uuv_trajectory_control"
          type="cascaded_pid_dp_controller.py"
          name="cascaded_pid_dp_controller" args="$(find uuv_trajectory_control)/launch/cascaded_pid_dp_controller.launch" output="screen" term="xterm"/>
</launch>

